.bb-shelf-books {
  display: flex;
  flex-wrap: wrap;
  
}
.bb-shelf-add-book {
  background: cornflowerblue;
  color: black;
  width: 20px;
  height: 30px;
  font-size: 20px;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}