.bb-shelf-books {
  display: flex;
  flex-wrap: wrap;

  .bb-book {
    transition: 100ms;
    .bb-book-cover {
      width: unset;
      height: unset;
    }
  }

  @media screen and (min-width: 600px) {
    .bb-book {
      width: 25%;
    }
  }
  @media screen and (min-width: 1250px) {
    .bb-book {
      width: 20%;
    }
  }
}
.bb-shelf-add-book {
  background: cornflowerblue;
  color: black;
  width: 20px;
  height: 30px;
  font-size: 20px;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
