.bb-sidebar-option {
  height: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 3px 3px 3px 6px;
  font-size: 13px;
  color: whitesmoke;

  &--active {
    background: #453D3E;
  }

  &:hover {
    background: #453D3E;
  }
}