.bb-shelf-page {
  padding: 40px 50px 50px 40px;
  height: 100%;
}
.bb-shelf-page-header {
  border-bottom: 1px solid #343434;
  width: 100%;
  padding: 0 0px 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .bb-shelf-page-title {
    font-size: 35px;
  }
}
.bb-shelf-page-content {
  padding: 20px 0 20px 0;
  height: 100%;
  overflow: auto;
}